In [147]:
import pandas as pd
import re
import numpy as np

In [148]:
df = pd.read_csv("raw/train.csv")
#df_test = pd.read_csv("raw/test.csv")

In [149]:
df.columns = pd.Series(df.columns).apply(lambda x: x.lower())

## Calculate Age

In [150]:
df['date.of.birth'].max()

'31-12-99'

In [151]:
df['disbursaldate'].min()

'01-08-18'

In [152]:
df['age'] = (df['disbursaldate'].apply(lambda x: int("20" + x.split("-")[2])) - 
df['date.of.birth'].apply(lambda x: int("19" + x.split("-")[2])))

In [153]:
df = df.drop(['disbursaldate','date.of.birth'],axis=1)

## Unify column name format

In [154]:
def create_camel_case(myString, seperator):
    lst = myString.split(seperator)
    if len(lst) < 2:
        return myString
    else:
        for i in range(len(lst)):
            if i != 0:
                lst[i] = lst[i][0].upper() + lst[i][1:]
        return ''.join(lst)

In [155]:
df.columns = pd.Series(df.columns).apply(create_camel_case, 
                              seperator = '_').apply(create_camel_case,
                              seperator = '.')

In [156]:
df.columns = ['uniqueId', 'disbursedAmount', 'assetCost', 'itv', 'branchId',
'supplierId', 'manufacturerId', 'currentPincodeId',
'employmentType', 'stateId', 'employeeCodeId',
'mobilenoAvlFlag', 'aadharFlag', 'panFlag', 'voteridFlag',
'drivingFlag', 'passportFlag', 'performCnsScore',
'performCnsScoreDescription', 'priNoOfAccts', 'priActiveAccts',
'priOverdueAccts', 'priCurrentBalance', 'priSanctionedAmount',
'priDisbursedAmount', 'secNoOfAccts', 'secActiveAccts',
'secOverdueAccts', 'secCurrentBalance', 'secSanctionedAmount',
'secDisbursedAmount', 'primaryInstalAmt', 'secInstalAmt',
'newAcctsInLastSixMonths', 'delinquentAcctsInLastSixMonths',
'averageAcctAge', 'creditHistoryLength', 'noOfInquiries',
'loanDefault', 'age']

In [157]:
df.isna().sum()[df.isna().sum() != 0]

employmentType    7661
dtype: int64

In [158]:
df.employmentType.value_counts()

Self employed    127635
Salaried          97858
Name: employmentType, dtype: int64

In [159]:
df.employmentType = df.employmentType.fillna("Unknown")

In [160]:
df.iloc[0]

uniqueId                                               420825
disbursedAmount                                         50578
assetCost                                               58400
itv                                                     89.55
branchId                                                   67
supplierId                                              22807
manufacturerId                                             45
currentPincodeId                                         1441
employmentType                                       Salaried
stateId                                                     6
employeeCodeId                                           1998
mobilenoAvlFlag                                             1
aadharFlag                                                  1
panFlag                                                     0
voteridFlag                                                 0
drivingFlag                                                 0
passportFlag                                                0
performCnsScore                                             0
performCnsScoreDescription        No Bureau History Available
priNoOfAccts                                                0
priActiveAccts                                              0
priOverdueAccts                                             0
priCurrentBalance                                           0
priSanctionedAmount                                         0
priDisbursedAmount                                          0
secNoOfAccts                                                0
secActiveAccts                                              0
secOverdueAccts                                             0
secCurrentBalance                                           0
secSanctionedAmount                                         0
secDisbursedAmount                                          0
primaryInstalAmt                                            0
secInstalAmt                                                0
newAcctsInLastSixMonths                                     0
delinquentAcctsInLastSixMonths                              0
averageAcctAge                                      0yrs 0mon
creditHistoryLength                                 0yrs 0mon
noOfInquiries                                               0
loanDefault                                                 0
age                                                        34
Name: 0, dtype: object

In [161]:
df.averageAcctAge = df.averageAcctAge.apply(lambda x: float(str(re.search(r'\d+', x.split(" ")[0]).group()) + 
                        '.' + str(re.search(r'\d+', x.split(" ")[1]).group())))

In [162]:
df.creditHistoryLength = df.creditHistoryLength.apply(lambda x: float(str(re.search(r'\d+', x.split(" ")[0]).group()) + 
                        '.' + str(re.search(r'\d+', x.split(" ")[1]).group())))

In [163]:
df.iloc[0]

uniqueId                                               420825
disbursedAmount                                         50578
assetCost                                               58400
itv                                                     89.55
branchId                                                   67
supplierId                                              22807
manufacturerId                                             45
currentPincodeId                                         1441
employmentType                                       Salaried
stateId                                                     6
employeeCodeId                                           1998
mobilenoAvlFlag                                             1
aadharFlag                                                  1
panFlag                                                     0
voteridFlag                                                 0
drivingFlag                                                 0
passportFlag                                                0
performCnsScore                                             0
performCnsScoreDescription        No Bureau History Available
priNoOfAccts                                                0
priActiveAccts                                              0
priOverdueAccts                                             0
priCurrentBalance                                           0
priSanctionedAmount                                         0
priDisbursedAmount                                          0
secNoOfAccts                                                0
secActiveAccts                                              0
secOverdueAccts                                             0
secCurrentBalance                                           0
secSanctionedAmount                                         0
secDisbursedAmount                                          0
primaryInstalAmt                                            0
secInstalAmt                                                0
newAcctsInLastSixMonths                                     0
delinquentAcctsInLastSixMonths                              0
averageAcctAge                                            0.0
creditHistoryLength                                       0.0
noOfInquiries                                               0
loanDefault                                                 0
age                                                        34
Name: 0, dtype: object

In [164]:
temp = df.loanDefault
df = df.drop("loanDefault", axis = 1)
df.insert(0, 'loanDefault', temp)

In [182]:
df

,loanDefault,age,disbursedAmount,assetCost,itv,mobilenoAvlFlag,aadharFlag,panFlag,voteridFlag,drivingFlag,...,primaryInstalAmt,secInstalAmt,newAcctsInLastSixMonths,delinquentAcctsInLastSixMonths,averageAcctAge,creditHistoryLength,noOfInquiries,Salaried,Self employed,Unknown
0,0,34,50578,58400,89.55,1,1,0,0,0,...,0,0,0,0,0.00,0.00,0,1,0,0
1,1,33,47145,65550,73.23,1,1,0,0,0,...,1991,0,0,1,1.11,1.11,0,0,1,0
2,0,33,53278,61360,89.63,1,1,0,0,0,...,0,0,0,0,0.00,0.00,0,0,1,0
3,1,25,57513,66113,88.48,1,1,0,0,0,...,31,0,0,0,0.80,1.30,1,0,1,0
4,1,41,52378,60300,88.39,1,1,0,0,0,...,0,0,0,0,0.00,0.00,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,0,30,63213,105405,60.72,1,0,0,1,0,...,4084,0,0,0,1.90,3.30,0,1,0,0
233150,0,30,73651,100600,74.95,1,0,0,1,0,...,1565,0,0,0,0.60,0.60,0,0,1,0
233151,0,42,33484,71212,48.45,1,1,0,0,0,...,0,0,0,0,0.00,0.00,0,1,0,0
233152,0,24,34259,73286,49.10,1,1,0,0,0,...,0,0,0,0,0.00,0.00,0,1,0,0
233153,0,34,75751,116009,66.81,1,1,0,0,0,...,0,0,0,0,0.00,0.00,0,1,0,0

In [166]:
df.columns

Index(['loanDefault', 'uniqueId', 'disbursedAmount', 'assetCost', 'itv',
       'branchId', 'supplierId', 'manufacturerId', 'currentPincodeId',
       'employmentType', 'stateId', 'employeeCodeId', 'mobilenoAvlFlag',
       'aadharFlag', 'panFlag', 'voteridFlag', 'drivingFlag', 'passportFlag',
       'performCnsScore', 'performCnsScoreDescription', 'priNoOfAccts',
       'priActiveAccts', 'priOverdueAccts', 'priCurrentBalance',
       'priSanctionedAmount', 'priDisbursedAmount', 'secNoOfAccts',
       'secActiveAccts', 'secOverdueAccts', 'secCurrentBalance',
       'secSanctionedAmount', 'secDisbursedAmount', 'primaryInstalAmt',
       'secInstalAmt', 'newAcctsInLastSixMonths',
       'delinquentAcctsInLastSixMonths', 'averageAcctAge',
       'creditHistoryLength', 'noOfInquiries', 'age'],
      dtype='object')

## Select right features to use

In [167]:
selected_feature = [
       'loanDefault', 'age', 'disbursedAmount', 'assetCost', 'itv',
       'employmentType', 'mobilenoAvlFlag', 'aadharFlag', 'panFlag',
       'voteridFlag', 'drivingFlag', 'passportFlag', 'performCnsScore',
       'priNoOfAccts', 'priActiveAccts',
       'priOverdueAccts', 'priCurrentBalance', 'priSanctionedAmount',
       'priDisbursedAmount', 'secNoOfAccts', 'secActiveAccts',
       'secOverdueAccts', 'secCurrentBalance', 'secSanctionedAmount',
       'secDisbursedAmount', 'primaryInstalAmt', 'secInstalAmt',
       'newAcctsInLastSixMonths', 'delinquentAcctsInLastSixMonths',
       'averageAcctAge', 'creditHistoryLength', 'noOfInquiries'
]

In [168]:
df = df[selected_feature]

In [169]:
one_hot = pd.get_dummies(df['employmentType'])
df = df.join(one_hot)
df = df.drop('employmentType',axis = 1)

In [202]:
df.columns = ['loanDefault', 'age', 'disbursedAmount', 'assetCost', 'itv',
       'mobilenoAvlFlag', 'aadharFlag', 'panFlag', 'voteridFlag',
       'drivingFlag', 'passportFlag', 'performCnsScore', 'priNoOfAccts',
       'priActiveAccts', 'priOverdueAccts', 'priCurrentBalance',
       'priSanctionedAmount', 'priDisbursedAmount', 'secNoOfAccts',
       'secActiveAccts', 'secOverdueAccts', 'secCurrentBalance',
       'secSanctionedAmount', 'secDisbursedAmount', 'primaryInstalAmt',
       'secInstalAmt', 'newAcctsInLastSixMonths',
       'delinquentAcctsInLastSixMonths', 'averageAcctAge',
       'creditHistoryLength', 'noOfInquiries', 'salaried', 'selfEmployed',
       'unknownEmploy']

In [203]:
df.iloc[0]

loanDefault                           0.00
age                                  34.00
disbursedAmount                   50578.00
assetCost                         58400.00
itv                                  89.55
mobilenoAvlFlag                       1.00
aadharFlag                            1.00
panFlag                               0.00
voteridFlag                           0.00
drivingFlag                           0.00
passportFlag                          0.00
performCnsScore                       0.00
priNoOfAccts                          0.00
priActiveAccts                        0.00
priOverdueAccts                       0.00
priCurrentBalance                     0.00
priSanctionedAmount                   0.00
priDisbursedAmount                    0.00
secNoOfAccts                          0.00
secActiveAccts                        0.00
secOverdueAccts                       0.00
secCurrentBalance                     0.00
secSanctionedAmount                   0.00
secDisbursedAmount                    0.00
primaryInstalAmt                      0.00
secInstalAmt                          0.00
newAcctsInLastSixMonths               0.00
delinquentAcctsInLastSixMonths        0.00
averageAcctAge                        0.00
creditHistoryLength                   0.00
noOfInquiries                         0.00
salaried                              1.00
selfEmployed                          0.00
unknownEmploy                         0.00
Name: 0, dtype: float64

In [201]:
df.to_csv("vehicle_loan_data.csv", index = False)

## Get Column Information

In [171]:
df_col = pd.read_csv("raw/data_dictionary.csv")

In [172]:
df_col = df_col.drop("Unnamed: 0", axis = 1)

In [173]:
df_col.insert(0, 'colName', ['uniqueId', 'loanDefault', 'disbursedAmount', 'assetCost', 'itv',
       'branchId', 'supplierId', 'manufacturerId', 'currentPincodeId',
       'dateOfBirth', 'employmentType', 'disbursaldate', 'stateId',
       'employeeCodeId', 'mobilenoAvlFlag', 'aadharFlag', 'panFlag',
       'voteridFlag', 'drivingFlag', 'passportFlag', 'performCnsScore',
       'performCnsScoreDescription', 'priNoOfAccts', 'priActiveAccts',
       'priOverdueAccts', 'priCurrentBalance', 'priSanctionedAmount',
       'priDisbursedAmount', 'secNoOfAccts', 'secActiveAccts',
       'secOverdueAccts', 'secCurrentBalance', 'secSanctionedAmount',
       'secDisbursedAmount', 'primaryInstalAmt', 'secInstalAmt',
       'newAcctsInLastSixMonths', 'delinquentAcctsInLastSixMonths',
       'averageAcctAge', 'creditHistoryLength', 'noOfInquiries'])

In [174]:
df_col = df_col.drop(["Variable Name", "Unnamed: 2"], axis = 1)

In [177]:
df_col.columns = 'colName', 'description'

In [178]:
df_col = df_col.reindex([1, 0] + list(range(2, 41))).reset_index(drop = True)

In [194]:
df_col = df_col[df_col.colName.isin(pd.Series(df.columns))].reset_index(drop = True)

In [204]:
#df_col.to_csv("vehicle_loan_info.csv", index = False)

In [206]:
df_col = pd.read_csv("vehicle_loan_info.csv")
df_col

,colName,description
0,loanDefault,Payment default in the first EMI on due
1,age,Age of customer on the disbursal date
2,disbursedAmount,Amount of Loan disbursed
3,assetCost,Cost of the Asset
4,itv,Loan to Value of the asset
5,mobilenoAvlFlag,if Mobile no. was shared by the customer then ...
6,aadharFlag,if aadhar was shared by the customer then flag...
7,panFlag,if pan was shared by the customer then flagged...
8,voteridFlag,if voter was shared by the customer then flag...
9,drivingFlag,if DL was shared by the customer then flagged ...
10,passportFlag,if passport was shared by the customer then fl...
11,performCnsScore,Bureau Score
12,priNoOfAccts,count of total loans taken by the customer at ...
13,priActiveAccts,count of active loans taken by the customer at...
14,priOverdueAccts,count of default accounts at the time of disbu...
15,priCurrentBalance,total Principal outstanding amount of the acti...
16,priSanctionedAmount,total amount that was sanctioned for all the l...
17,priDisbursedAmount,total amount that was disbursed for all the lo...
18,secNoOfAccts,count of total loans taken by the customer at ...
19,secActiveAccts,count of active loans taken by the customer at...
20,secOverdueAccts,count of default accounts at the time of disbu...
21,secCurrentBalance,total Principal outstanding amount of the acti...
22,secSanctionedAmount,total amount that was sanctioned for all the l...
23,secDisbursedAmount,total amount that was disbursed for all the lo...
24,primaryInstalAmt,EMI Amount of the primary loan
25,secInstalAmt,EMI Amount of the secondary loan
26,newAcctsInLastSixMonths,New loans taken by the customer in last 6 mont...
27,delinquentAcctsInLastSixMonths,Loans defaulted in the last 6 months
28,averageAcctAge,Average loan tenure
29,creditHistoryLength,Time since first loan
30,noOfInquiries,Enquries done by the customer for loans
31,salaried,if customer is paid by salary
32,selfEmployed,if customer is self-employed
33,unknownEmploy,if customer salary status is unknown

In [209]:
df_col['min'] = df_col.colName.apply(lambda x: df[x].min())
df_col['max'] = df_col.colName.apply(lambda x: df[x].max())

In [210]:
df_col.to_csv("vehicle_loan_info.csv", index = False)