In [36]:
import pandas as pd
import re

In [2]:
df_train = pd.read_csv("raw/train.csv")
df_test = pd.read_csv("raw/test.csv")

In [11]:
df = df_train

In [6]:
df_train.columns = pd.Series(df_train.columns).apply(lambda x: x.lower())

In [8]:
def create_camel_case(myString, seperator):
    lst = myString.split(seperator)
    if len(lst) < 2:
        return myString
    else:
        for i in range(len(lst)):
            if i != 0:
                lst[i] = lst[i][0].upper() + lst[i][1:]
        return ''.join(lst)

In [14]:
df.columns = pd.Series(df.columns).apply(create_camel_case, 
                              seperator = '_').apply(create_camel_case,
                              seperator = '.')

In [16]:
df.columns

Index(['uniqueid', 'disbursedAmount', 'assetCost', 'ltv', 'branchId',
       'supplierId', 'manufacturerId', 'currentPincodeId', 'dateOfBirth',
       'employmentType', 'disbursaldate', 'stateId', 'employeeCodeId',
       'mobilenoAvlFlag', 'aadharFlag', 'panFlag', 'voteridFlag',
       'drivingFlag', 'passportFlag', 'performCnsScore',
       'performCnsScoreDescription', 'priNoOfAccts', 'priActiveAccts',
       'priOverdueAccts', 'priCurrentBalance', 'priSanctionedAmount',
       'priDisbursedAmount', 'secNoOfAccts', 'secActiveAccts',
       'secOverdueAccts', 'secCurrentBalance', 'secSanctionedAmount',
       'secDisbursedAmount', 'primaryInstalAmt', 'secInstalAmt',
       'newAcctsInLastSixMonths', 'delinquentAcctsInLastSixMonths',
       'averageAcctAge', 'creditHistoryLength', 'noOfInquiries',
       'loanDefault'],
      dtype='object')

In [18]:
df.columns = ['uniqueId', 'disbursedAmount', 'assetCost', 'itv', 'branchId',
'supplierId', 'manufacturerId', 'currentPincodeId', 'dateOfBirth',
'employmentType', 'disbursaldate', 'stateId', 'employeeCodeId',
'mobilenoAvlFlag', 'aadharFlag', 'panFlag', 'voteridFlag',
'drivingFlag', 'passportFlag', 'performCnsScore',
'performCnsScoreDescription', 'priNoOfAccts', 'priActiveAccts',
'priOverdueAccts', 'priCurrentBalance', 'priSanctionedAmount',
'priDisbursedAmount', 'secNoOfAccts', 'secActiveAccts',
'secOverdueAccts', 'secCurrentBalance', 'secSanctionedAmount',
'secDisbursedAmount', 'primaryInstalAmt', 'secInstalAmt',
'newAcctsInLastSixMonths', 'delinquentAcctsInLastSixMonths',
'averageAcctAge', 'creditHistoryLength', 'noOfInquiries',
'loanDefault']

In [25]:
df.isna().sum()

uniqueId                             0
disbursedAmount                      0
assetCost                            0
itv                                  0
branchId                             0
supplierId                           0
manufacturerId                       0
currentPincodeId                     0
dateOfBirth                          0
employmentType                    7661
disbursaldate                        0
stateId                              0
employeeCodeId                       0
mobilenoAvlFlag                      0
aadharFlag                           0
panFlag                              0
voteridFlag                          0
drivingFlag                          0
passportFlag                         0
performCnsScore                      0
performCnsScoreDescription           0
priNoOfAccts                         0
priActiveAccts                       0
priOverdueAccts                      0
priCurrentBalance                    0
priSanctionedAmount                  0
priDisbursedAmount                   0
secNoOfAccts                         0
secActiveAccts                       0
secOverdueAccts                      0
secCurrentBalance                    0
secSanctionedAmount                  0
secDisbursedAmount                   0
primaryInstalAmt                     0
secInstalAmt                         0
newAcctsInLastSixMonths              0
delinquentAcctsInLastSixMonths       0
averageAcctAge                       0
creditHistoryLength                  0
noOfInquiries                        0
loanDefault                          0
dtype: int64

In [23]:
df.employmentType.value_counts()

Self employed    127635
Salaried          97858
Name: employmentType, dtype: int64

In [26]:
df.employmentType = df.employmentType.fillna("Unknown")

In [29]:
df.iloc[0]

uniqueId                                               420825
disbursedAmount                                         50578
assetCost                                               58400
itv                                                     89.55
branchId                                                   67
supplierId                                              22807
manufacturerId                                             45
currentPincodeId                                         1441
dateOfBirth                                          01-01-84
employmentType                                       Salaried
disbursaldate                                        03-08-18
stateId                                                     6
employeeCodeId                                           1998
mobilenoAvlFlag                                             1
aadharFlag                                                  1
panFlag                                                     0
voteridFlag                                                 0
drivingFlag                                                 0
passportFlag                                                0
performCnsScore                                             0
performCnsScoreDescription        No Bureau History Available
priNoOfAccts                                                0
priActiveAccts                                              0
priOverdueAccts                                             0
priCurrentBalance                                           0
priSanctionedAmount                                         0
priDisbursedAmount                                          0
secNoOfAccts                                                0
secActiveAccts                                              0
secOverdueAccts                                             0
secCurrentBalance                                           0
secSanctionedAmount                                         0
secDisbursedAmount                                          0
primaryInstalAmt                                            0
secInstalAmt                                                0
newAcctsInLastSixMonths                                     0
delinquentAcctsInLastSixMonths                              0
averageAcctAge                                      0yrs 0mon
creditHistoryLength                                 0yrs 0mon
noOfInquiries                                               0
loanDefault                                                 0
Name: 0, dtype: object

In [41]:
df.averageAcctAge = df.averageAcctAge.apply(lambda x: float(str(re.search(r'\d+', x.split(" ")[0]).group()) + 
                        '.' + str(re.search(r'\d+', x.split(" ")[1]).group())))

In [42]:
df.creditHistoryLength = df.creditHistoryLength.apply(lambda x: float(str(re.search(r'\d+', x.split(" ")[0]).group()) + 
                        '.' + str(re.search(r'\d+', x.split(" ")[1]).group())))

In [43]:
df

,uniqueId,disbursedAmount,assetCost,itv,branchId,supplierId,manufacturerId,currentPincodeId,dateOfBirth,employmentType,...,secSanctionedAmount,secDisbursedAmount,primaryInstalAmt,secInstalAmt,newAcctsInLastSixMonths,delinquentAcctsInLastSixMonths,averageAcctAge,creditHistoryLength,noOfInquiries,loanDefault
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0.00,0.00,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1.11,1.11,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0.00,0.00,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0.80,1.30,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0.00,0.00,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,626432,63213,105405,60.72,34,20700,48,1050,01-08-88,Salaried,...,0,0,4084,0,0,0,1.90,3.30,0,0
233150,606141,73651,100600,74.95,34,23775,51,990,05-12-88,Self employed,...,0,0,1565,0,0,0,0.60,0.60,0,0
233151,613658,33484,71212,48.45,77,22186,86,2299,01-06-76,Salaried,...,0,0,0,0,0,0,0.00,0.00,0,0
233152,548084,34259,73286,49.10,77,22186,86,2299,26-03-94,Salaried,...,0,0,0,0,0,0,0.00,0.00,0,0
233153,630213,75751,116009,66.81,77,22186,86,2299,18-02-84,Salaried,...,0,0,0,0,0,0,0.00,0.00,0,0

In [51]:
temp = df.loanDefault
df = df.drop("loanDefault", axis = 1)
df.insert(0, 'loanDefault', temp)

In [70]:
df

,loanDefault,uniqueId,disbursedAmount,assetCost,itv,branchId,supplierId,manufacturerId,currentPincodeId,dateOfBirth,...,secCurrentBalance,secSanctionedAmount,secDisbursedAmount,primaryInstalAmt,secInstalAmt,newAcctsInLastSixMonths,delinquentAcctsInLastSixMonths,averageAcctAge,creditHistoryLength,noOfInquiries
0,0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,...,0,0,0,0,0,0,0,0.00,0.00,0
1,1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,...,0,0,0,1991,0,0,1,1.11,1.11,0
2,0,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,...,0,0,0,0,0,0,0,0.00,0.00,0
3,1,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,...,0,0,0,31,0,0,0,0.80,1.30,1
4,1,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,...,0,0,0,0,0,0,0,0.00,0.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233149,0,626432,63213,105405,60.72,34,20700,48,1050,01-08-88,...,0,0,0,4084,0,0,0,1.90,3.30,0
233150,0,606141,73651,100600,74.95,34,23775,51,990,05-12-88,...,0,0,0,1565,0,0,0,0.60,0.60,0
233151,0,613658,33484,71212,48.45,77,22186,86,2299,01-06-76,...,0,0,0,0,0,0,0,0.00,0.00,0
233152,0,548084,34259,73286,49.10,77,22186,86,2299,26-03-94,...,0,0,0,0,0,0,0,0.00,0.00,0
233153,0,630213,75751,116009,66.81,77,22186,86,2299,18-02-84,...,0,0,0,0,0,0,0,0.00,0.00,0

In [91]:
df.to_csv("vehicle_data.csv", index = False)

In [55]:
df_col = pd.read_csv("raw/data_dictionary.csv")

In [60]:
df_col = df_col.drop("Unnamed: 0", axis = 1)

In [64]:
df_col.insert(0, 'colName', ['uniqueId', 'loanDefault', 'disbursedAmount', 'assetCost', 'itv',
       'branchId', 'supplierId', 'manufacturerId', 'currentPincodeId',
       'dateOfBirth', 'employmentType', 'disbursaldate', 'stateId',
       'employeeCodeId', 'mobilenoAvlFlag', 'aadharFlag', 'panFlag',
       'voteridFlag', 'drivingFlag', 'passportFlag', 'performCnsScore',
       'performCnsScoreDescription', 'priNoOfAccts', 'priActiveAccts',
       'priOverdueAccts', 'priCurrentBalance', 'priSanctionedAmount',
       'priDisbursedAmount', 'secNoOfAccts', 'secActiveAccts',
       'secOverdueAccts', 'secCurrentBalance', 'secSanctionedAmount',
       'secDisbursedAmount', 'primaryInstalAmt', 'secInstalAmt',
       'newAcctsInLastSixMonths', 'delinquentAcctsInLastSixMonths',
       'averageAcctAge', 'creditHistoryLength', 'noOfInquiries'])

In [66]:
df_col = df_col.drop(["Variable Name", "Unnamed: 2"], axis = 1)

In [68]:
df_col.columns = 'colName', 'description'

In [86]:
df_col = df_col.reindex([1, 0] + list(range(2, 41))).reset_index(drop = True)

In [87]:
df_col['min'] = df.min().values
df_col['max'] = df.max().values

In [89]:
df_col

,colName,description,min,max
0,loanDefault,Payment default in the first EMI on due date,0,1
1,uniqueId,Identifier for customers,417428,671084
2,disbursedAmount,Amount of Loan disbursed,13320,990572
3,assetCost,Cost of the Asset,37000,1628992
4,itv,Loan to Value of the asset,10.03,95.0
5,branchId,Branch where the loan was disbursed,1,261
6,supplierId,Vehicle Dealer where the loan was disbursed,10524,24803
7,manufacturerId,"Vehicle manufacturer(Hero, Honda, TVS etc.)",45,156
8,currentPincodeId,Current pincode of the customer,1,7345
9,dateOfBirth,Date of birth of the customer,01-01-00,31-12-99
10,employmentType,Employment Type of the customer (Salaried/Self...,Salaried,Unknown
11,disbursaldate,Date of disbursement,01-08-18,31-10-18
12,stateId,State of disbursement,1,22
13,employeeCodeId,Employee of the organization who logged the di...,1,3795
14,mobilenoAvlFlag,if Mobile no. was shared by the customer then ...,1,1
15,aadharFlag,if aadhar was shared by the customer then flag...,0,1
16,panFlag,if pan was shared by the customer then flagged...,0,1
17,voteridFlag,if voter was shared by the customer then flag...,0,1
18,drivingFlag,if DL was shared by the customer then flagged ...,0,1
19,passportFlag,if passport was shared by the customer then fl...,0,1
20,performCnsScore,Bureau Score,0,890
21,performCnsScoreDescription,Bureau score description,A-Very Low Risk,Not Scored: Sufficient History Not Available
22,priNoOfAccts,count of total loans taken by the customer at ...,0,453
23,priActiveAccts,count of active loans taken by the customer at...,0,144
24,priOverdueAccts,count of default accounts at the time of disbu...,0,25
25,priCurrentBalance,total Principal outstanding amount of the acti...,-6678296,96524920
26,priSanctionedAmount,total amount that was sanctioned for all the l...,0,1000000000
27,priDisbursedAmount,total amount that was disbursed for all the lo...,0,1000000000
28,secNoOfAccts,count of total loans taken by the customer at ...,0,52
29,secActiveAccts,count of active loans taken by the customer at...,0,36
30,secOverdueAccts,count of default accounts at the time of disbu...,0,8
31,secCurrentBalance,total Principal outstanding amount of the acti...,-574647,36032852
32,secSanctionedAmount,total amount that was sanctioned for all the l...,0,30000000
33,secDisbursedAmount,total amount that was disbursed for all the lo...,0,30000000
34,primaryInstalAmt,EMI Amount of the primary loan,0,25642806
35,secInstalAmt,EMI Amount of the secondary loan,0,4170901
36,newAcctsInLastSixMonths,New loans taken by the customer in last 6 mont...,0,35
37,delinquentAcctsInLastSixMonths,Loans defaulted in the last 6 months,0,20
38,averageAcctAge,Average loan tenure,0.0,30.9
39,creditHistoryLength,Time since first loan,0.0,39.0
40,noOfInquiries,Enquries done by the customer for loans,0,36

In [92]:
df_col.to_csv("vehicle_info.csv", index = False)

In [124]:
df_col

,colName,description,min,max
0,loanDefault,Payment default in the first EMI on due date,0,1
1,uniqueId,Identifier for customers,417428,671084
2,disbursedAmount,Amount of Loan disbursed,13320,990572
3,assetCost,Cost of the Asset,37000,1628992
4,itv,Loan to Value of the asset,10.03,95.0
5,branchId,Branch where the loan was disbursed,1,261
6,supplierId,Vehicle Dealer where the loan was disbursed,10524,24803
7,manufacturerId,"Vehicle manufacturer(Hero, Honda, TVS etc.)",45,156
8,currentPincodeId,Current pincode of the customer,1,7345
9,dateOfBirth,Date of birth of the customer,01-01-00,31-12-99
10,employmentType,Employment Type of the customer (Salaried/Self...,Salaried,Unknown
11,disbursaldate,Date of disbursement,01-08-18,31-10-18
12,stateId,State of disbursement,1,22
13,employeeCodeId,Employee of the organization who logged the di...,1,3795
14,mobilenoAvlFlag,if Mobile no. was shared by the customer then ...,1,1
15,aadharFlag,if aadhar was shared by the customer then flag...,0,1
16,panFlag,if pan was shared by the customer then flagged...,0,1
17,voteridFlag,if voter was shared by the customer then flag...,0,1
18,drivingFlag,if DL was shared by the customer then flagged ...,0,1
19,passportFlag,if passport was shared by the customer then fl...,0,1
20,performCnsScore,Bureau Score,0,890
21,performCnsScoreDescription,Bureau score description,A-Very Low Risk,Not Scored: Sufficient History Not Available
22,priNoOfAccts,count of total loans taken by the customer at ...,0,453
23,priActiveAccts,count of active loans taken by the customer at...,0,144
24,priOverdueAccts,count of default accounts at the time of disbu...,0,25
25,priCurrentBalance,total Principal outstanding amount of the acti...,-6678296,96524920
26,priSanctionedAmount,total amount that was sanctioned for all the l...,0,1000000000
27,priDisbursedAmount,total amount that was disbursed for all the lo...,0,1000000000
28,secNoOfAccts,count of total loans taken by the customer at ...,0,52
29,secActiveAccts,count of active loans taken by the customer at...,0,36
30,secOverdueAccts,count of default accounts at the time of disbu...,0,8
31,secCurrentBalance,total Principal outstanding amount of the acti...,-574647,36032852
32,secSanctionedAmount,total amount that was sanctioned for all the l...,0,30000000
33,secDisbursedAmount,total amount that was disbursed for all the lo...,0,30000000
34,primaryInstalAmt,EMI Amount of the primary loan,0,25642806
35,secInstalAmt,EMI Amount of the secondary loan,0,4170901
36,newAcctsInLastSixMonths,New loans taken by the customer in last 6 mont...,0,35
37,delinquentAcctsInLastSixMonths,Loans defaulted in the last 6 months,0,20
38,averageAcctAge,Average loan tenure,0.0,30.9
39,creditHistoryLength,Time since first loan,0.0,39.0
40,noOfInquiries,Enquries done by the customer for loans,0,36